.countdown-section-container {
  background: url('/images/countdown-bg.jpg') center center/cover no-repeat
    local;
  &::after {
    content: '';
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
}
