.footer-container {
  background: url('/images/footer-bg.jpeg');
  background-size: 100%;
  background-position: 50% 45%;
  background-repeat: no-repeat;
  &::after {
    content: '';
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
}
